
body {
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(5px);
}

button {
    border: none;
    color: #fff;
    padding: 0 5px;
    border-radius: 0 3px 3px 0;
    background-color: rgb(142, 199, 96);
}

h2 {
    color: #8ACA2B;
    text-transform: uppercase;
}

#load {
    position: absolute;
    left: 50%;
    top: 50%;
}